<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormsApp1.Properties.Settings>
            <setting name="FirstLevelColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SecondLevelColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ThirdLevelColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FirstLevelText" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SecondLevelText" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="WidthMedium" serializeAs="String">
                <value>970</value>
            </setting>
            <setting name="HeightMedium" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="WidthSmall" serializeAs="String">
                <value>970</value>
            </setting>
            <setting name="HeightSmall" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="PathDB" serializeAs="String">
                <value>computerservice.db</value>
            </setting>
            <setting name="NameOrg" serializeAs="String">
                <value />
            </setting>
            <setting name="AddressOrg" serializeAs="String">
                <value />
            </setting>
            <setting name="PhoneOrg" serializeAs="String">
                <value />
            </setting>
            <setting name="MailOrg" serializeAs="String">
                <value />
            </setting>
            <setting name="FaxOrg" serializeAs="String">
                <value />
            </setting>
            <setting name="Login" serializeAs="String">
                <value>vadim</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>1234</value>
            </setting>
        </WinFormsApp1.Properties.Settings>
    </userSettings>
</configuration>